<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>Portland in Snapshots</title>
</head>
<body>
	<h1>Portland in Snapshots</h1>
	<ul id="imageGallery">
		<li><a href="images/bike.jpg"><img src="images/bike.jpg" width="100" alt="Portland offers the best urban cycing in the USA."></a></li>
		<li><a href="images/weird.jpg"><img src="images/weird.jpg" width="100" alt="'Keep Portland Weird' is Porland's unofficial slogan"></a></li>
		<li><a href="images/beer.jpg"><img src="images/beer.jpg" width="100" alt="Portland has the most microbrewies in the world."></a></li>
		<li><a href="images/roses.jpg"><img src="images/roses.jpg" width="100" alt="Portland is known as the 'city of roses'."></a></li>
		<li><a href="images/bridges.jpg"><img src="images/bridges.jpg" width="100" alt="There are 8 bridges in downton Portland. The Hawthorne Bridge is America's oldest operating lift bridge."></a></li>
		<li><a href="images/tinyhouse.jpg"><img src="images/tinyhouse.jpg" width="100" alt="Portland has a thriving tiny house industry"></a></li>
		<li><a href="images/coffee.jpg"><img src="images/coffee.jpg" width="100" alt="In Portland, brewing coffee is a sport. Move over Blazers."></a></li>
		<li><a href="images/forestpark.jpg"><img src="images/forestpark.jpg" width="100" alt="Forest Park at 5,157 acres is the largest urban park in the United States."></a></li>
		<li><a href="images/foodcarts.jpg"><img src="images/foodcarts.jpg" width="100" alt="The swankiest restuarant is actually a foodcart."></a></li>
		<li><a href="images/retire.jpg"><img src="images/retire.jpg" width="100" alt="Relax. Portland is where the young retire."></a></li>
		<li><a href="images/rain.jpg"><img src="images/rain.jpg" width="100" alt="Portland does not recieve the most rain, that honor goes to New Orleans"></a></li>
	</ul>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bop.js" type="text/javascript" charset="utf-8"></script>
	
</body>
</html>










